<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540987181636-4bj9kv42qrte5989lqhhdshgoku90069.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540987181636-4bj9kv42qrte5989lqhhdshgoku90069</string>
	<key>API_KEY</key>
	<string>AIzaSyDMssVwsqstC6T1rakuY31fkDOpDvPRY6M</string>
	<key>GCM_SENDER_ID</key>
	<string>540987181636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>instaclone-c4bac</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-c4bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540987181636:ios:ac5def4c0f4cba6bf08a11</string>
</dict>
</plist>